<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaohei.auser.wenliapp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:name=".basedata.MyApplication"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".studentActivity.StudentMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".studentActivity.StudentInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".studentActivity.NewDiaryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".studentActivity.StudentChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".normalActivity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".teacherActivity.TeacherMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".normalActivity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".teacherActivity.TeacherInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".teacherActivity.TeacherChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".normalActivity.IdealActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".teacherActivity.QueryClassRoomInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".studentActivity.ShowWeekActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".studentActivity.StudentRegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".teacherActivity.ReadWeekActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".teacherActivity.ShowWeekActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>